@import "../../styles/utils.scss";
@import "../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  width: 100%;
  padding: 16px 0;

  background: #fff;

  &__inner {
    @extend %flex-row-center;
    & > label{
      @media (max-width: $breack-point-phone) {
        display: none;
      }
    }
  }

  &__logo {
    height: 24px;
    width: auto;

    @media (max-width: $breack-point-phone) {
      height: 14px;
    }
  }

  &__delivery-info {
    @extend %flex-row-center;

    margin-left: 7vw;

    @media (max-width: $breack-point-tablet) {
      display: none;
    }
  }

  &__search {
    margin-left: auto;

    @media (max-width: $breack-point-phone) {
      display: none;
    }
  }

  &__cart {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    width: 140px;
    height: 48px;
    padding: 0 10px 0 3px;
    border: 1px solid #e0e0e0;
    

    @media (max-width: $breack-point-phone) {
      border: none;
      margin-left: 5px;
      justify-content: right;
    }
  }

  &__cart-img {
    width: 32px;
    transform: scaleX(-1);
    opacity: 0.7;

    @media (max-width: $breack-point-phone) {
      margin-right: 5px;
    }
  }

 &__cart-wrap {
   position: relative;
   overflow: hidden;
 }

  &__cart-amount {
    position: absolute;
    left: 39px;
    top: -25px;
    transform: rotate(35deg);
    background: #9ec329;
    border-radius: 50px;
    width: 19px;
    height: 19px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;    

    @media (max-width: $breack-point-phone) {
      left: 17px;
    }
  }

  &__cart-amount-animate {
    transition: top 0.2s cubic-bezier(0.175, 0.385, 0.12, 1.875) 0.5s;
    top: 5px;
  }

  &__cart-total {
    color: #4c9604;

    @media (max-width: $breack-point-phone) {
      font-size: 12px;
    }
  }

  &__link {
    margin-left: 20px;
    padding: 12px 0;

    white-space: nowrap;
    color: #1f1f1f;

    @media (max-width: $breack-point-phone) {
      margin-left: 0;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__toogle-buttons {
    display: none;
    margin-left: auto;

    @media (max-width: $breack-point-tablet) {
      display: flex;
    }
  }

  &__toogle-btn {
    display: flex;
    align-items: center;
    padding: 11px 5px;

    cursor: pointer;
    border: 1px solid transparent;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    &:focus {
      border-color: $color-gray;
    }
  }
}

.mobile-controls {
  display: none;
  position: relative;
  padding-top: 30px;


  @media (max-width: $breack-point-tablet) {
    display: flex;
  }

  @media (max-width: $breack-point-phone) {
    justify-content: center;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

.control {
  margin-left: auto;

  @media (max-width: $breack-point-tablet) {
    margin-left: 0;
  }

  @media (max-width: $breack-point-phone) {
    width: 100%;
    &:not(:last-of-type) {
      width: 25%;
    }
  }

  @media (max-width: $breack-point-phone-sm) {
    &:not(:first-of-type) {
      max-width: 195px;
    }
  }
}
